* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: olivedrab;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.header p {
    color: white;
    margin-top: 40px;
}

.navbar {
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

p {
    color: grey;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: black;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_text_p1 {
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
    }

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: darkgrey 0.1rem solid;
    border-color: grey;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    align-items: center;
}

.email-icon {
    height: 2.5rem;
}

.footer {
    padding: 40px;
    text-align: center;
    background: #257682;
}

.footer p {
    color: black;
}